{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %}
{% block content %}
<style>
  .modal-content {
    text-align: center;
    /* Center text inside the modal */
  }
</style>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<link href="/static/get/vendor/fullcalendar/css/main.min.css" rel="stylesheet" />
<div class="card">
  <div class="card-body">
    <div id="calendar" class="app-fullcalendar fc fc-media-screen fc-direction-ltr fc-theme-standard"></div>
    <!-- Event Details Modal -->
    <div class="modal fade" id="eventDetailsModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailsModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventDetailsModalLabel">Event Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Table to display event details -->
            <table class="table table-bordered">
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Title:</strong></td>
                <td id="eventTitleDetails" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Start:</strong></td>
                <td id="eventStartDetails" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>End:</strong></td>
                <td id="eventEndDetails" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Grade:</strong></td>
                <td id="eventGrade" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Division:</strong></td>
                <td id="eventDivision" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Course:</strong></td>
                <td id="eventCourse" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Lesson:</strong></td>
                <td id="eventLesson" style="text-align: left;"></td>
              </tr>
              <tr>
                <td style="text-align: left; width: 30%;"><strong>Complete:</strong></td>
                <td id="eventStatusSum" style="text-align: left;">0 %</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Required vendors -->
    <script src="/static/get/vendor/global/global.min.js"></script>
    <script src="/static/get/vendor/moment/moment.min.js"></script>

    <script src="/static/get/vendor/fullcalendar/js/main.min.js"></script>
    <script>
      "use strict";

      function fullCalender() {
        const schedulerEvents = [{% for scheduler in schedulers %} {
            title: "{{ scheduler.lesson.heading }}",
            start: "{{ scheduler.start|date:'Y-m-d\\TH:i:s' }}",
            end: "{{ scheduler.end|date:'Y-m-d\\TH:i:s' }}",
            extendedProps: {
              Grade: "{{ scheduler.grade.grade_name }}",
              Division: "{{ scheduler.division.division_name }}",
              Course: "{{ scheduler.course.course_name }}",
              Lesson: "{{ scheduler.lesson.heading }}",
              StatusSum: "{{ scheduler.status_sum|default:0 }} %"
            }
          },
          {% endfor %}
        ];
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          selectable: true,
          editable: false,
          initialDate: new Date().toISOString().slice(0, 10),
          events: schedulerEvents,
          eventClick: function(info) {
            // Populate modal with event details
            $('#eventTitleDetails').text(info.event.title);
            $('#eventStartDetails').text(info.event.start.toLocaleString());
            $('#eventEndDetails').text(info.event.end ? info.event.end.toLocaleString() : 'N/A');
            $('#eventGrade').text(info.event.extendedProps.Grade);
            $('#eventDivision').text(info.event.extendedProps.Division);
            $('#eventCourse').text(info.event.extendedProps.Course);
            $('#eventTeacher').text(info.event.extendedProps.Teacher);
            $('#eventLesson').text(info.event.extendedProps.Lesson);
            $('#eventStatusSum').text(info.event.extendedProps.StatusSum);
            // Show the modal
            $('#eventDetailsModal').modal('show');
          }
        });
        calendar.render();
      }
      jQuery(window).on('load', function() {
        setTimeout(function() {
          fullCalender();
        }, 1000);
      });
    </script>

    {% endblock content %}
  </div>
</div>