{% extends 'trainer/trainerbase.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="/static/get/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
</style>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'trainer-dashboard' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'trainer-schedulerstatus-create' %}">New Scheduler Status</a>
            </li>
            <li aria-current="page">View Scheduler Statuss</li>
           
        </ol>
    </nav>
</div>
{% if messages %}
    {% for message in messages %}
        <!-- Bootstrap Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered"> <!-- Added modal-dialog-centered class -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">STEAM Education</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Show the modal when the DOM is ready
        var successModal = new bootstrap.Modal(document.getElementById('successModal'), {
            keyboard: false
        });

        // Show the modal
        successModal.show();

        // Hide the modal after 5 seconds
        setTimeout(function() {
            successModal.hide();
        }, 3000);
    });
</script>
<div class="card">
    <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subject</th>
            <th>Chapter</th>
            <th>Topic</th>
            <th>Status Date</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody >
        {% for t in schedulerstatus %}
        {% if t.scheduler.type == '1'%}
        <td>Session</td>
        <td>{{ t.scheduler.subject.subject_name }}</td>
        <td>{{ t.scheduler.chapter.chapter_name }}</td>
        <td>{{ t.scheduler.topic.topic_name }}</td>
        {% elif t.scheduler.type == '2'%}
        <td>Interview</td>
        <td colspan="3">{{ t.scheduler.eventdetails }}</td>
        {% elif t.scheduler.type == '3'%}
        <td>Client Requirment</td>
        <td colspan="3">{{ t.scheduler.eventdetails }}</td>
        {% elif t.scheduler.type == '4'%}
        <td>Lab Call</td>
        <td colspan="3">{{ t.scheduler.eventdetails }}</td>
        {% elif t.scheduler.type == '5'%}
        <td>Meeting</td>
        <td colspan="3">{{ t.scheduler.eventdetails }}</td>
        {% elif t.scheduler.type == '6'%}
        <td>Others</td>
        <td colspan="3">{{ t.scheduler.eventdetails }}</td>
        
        {% endif %}
        
        <td>{{ t.date }}</td>
        <td>{{ t.status }}</td>
            
            <td>
                <a class="btn btn-danger btn-xs" href="{% url 'trainer-schedulerstatus-delete' t.id %}" onclick="return confirm('Are you sure?')">
                    <span class="far fa-trash-alt"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
</div>
{% endblock content %}
