{% block content %}
{%load static%}

<link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/static/dreamlms/css/feather.css">

<link rel="stylesheet" href="/static/getskills/css/style.css">
<style>
    ul.breadcrumb li+li:before {
      content: '\f061';
    display: inline-block;
    font-family: 'fontAwesome';
    padding: 0 10px;
    }
    </style>
<div>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li ><a href="../../../../learner/learner-dashboard">Dashboard</a></li>
            <li ><a href="../../../../learner/learner-studymaterial-course">Courses</a></li>
            <li ><a
                    href="../../../../learner/learner-studymaterial-course-chapter/{{course_id}} ">{{coursename}}</a>
            </li>
            <li  aria-current="page">Preview</li>
        </ul>
    </nav>
</div>
<button onclick="toggleVisibility()">Toggle Visibility</button>

<div class="row">
    <div class="col-lg-4" id="hide-show">
        <div class="lesson-group">
            <div class="course-card">
                <h6 class="cou-title">
                    <a>{{chapter_name}} <span>{{topiccount}} Lessons</span> </a>
                </h6>
                <div id="collapseOne" class="card-collapse ">
                    <div class="progress-stip">
                        <div class="progress-bar bg-success progress-bar-striped " style="width:{{per}}%"></div>
                    </div>
                    <div class="student-percent lesson-percent">
                        <p>{{watchcount}} out of {{Topiccount}} completed<span>{{per}}%</span></p>
                    </div>
                    <ul>
                        {% for t in list %}
                        <li>
                            {% if forloop.counter > 0 or t.matcount > 0 %}

                            <p class="play-intro">
                                {% if t.mtype == "PDF" %}
                                <a href='https://nbviewer.org/github{{t.urlvalue|cut:"https://github.com"}}'
                                    class="link" data-id="{{ t.id }}">{{t.topic}}</a>
                                    {% elif t.mtype == "Video" %}
                                    <a href="{% if 'youtube.com/watch' in t.urlvalue %}{{ t.urlvalue|slice:"https://www.youtube.com/watch?v=" }}{% else %}{{ t.urlvalue }}{% endif %}" class="link" data-id="{{ t.id }}">{{ t.topic }} </a>
                                
                                {% elif t.mtype == "URL" %}
                                <a href="javascript:void(0)" onclick="loadIframe('{{t.urlvalue}}')">{{t.topic}}/// {{t.urlvalue}}</a>
                                {% elif t.mtype == "HTML" %}
                                <a href='https://htmlpreview.github.io/?{{t.urlvalue}}' class="link"
                                    data-id="{{ t.id }}">{{t.topic}}</a>
                                {% endif %}
                            </p>
                            <div>
                                <img src="/static/dreamlms/img/icon/play-icon.svg" alt="">
                            </div>
                            {% else %}
                            <p class="play-intro">
                                <a>{{t.topic}}</a>
                            </p>
                            <div>
                                <img src="/static/dreamlms/img/icon/lock.svg" alt="">
                            </div>
                            {% endif %}
                        </li>
                        {% if forloop.last and exam > 0 and per == 100 %}
                        <li>
                            <p class="play-intro">
                                <a href="{% url 'learner-chapterexam' t.chapter_id course_id %}">Exam</a>
                            </p>
                            <div>
                                <img src="/static/dreamlms/img/icon/exam.svg" alt="">
                            </div>

                        </li>
                        {% endif %}

                        {% if forloop.last and activity %}
                        {% for act in activity %}
                        <li>
                            <p class="play-intro">
                                <img src="/static/dreamlms/img/icon/exam.svg" alt=""><span>
                                <a href='https://nbviewer.org/github{{act.urlvalue|cut:"https://github.com"}}'
                                class="link" data-id="{{ act.id }}">{{act.description}}</a>
                                <a class="btn btn-primary" href="{% url 'learner-upload-activity' act.id course_id chapter_id  %}"><span
                                    class="fas fa-angle-double-right"></span></a>
                            </span>
                            </p>

                        </li>
                        {% endfor %}

                        {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div id="mydiv" class="lesson-introduction">
            <div id="instruction">
                <h4 class="tittle">Preview Window</h4>
                <p>
                    Please click topic name present on left side to see preview here.
                </p>
            </div>
            <div>
                <h4 class="tittle" id="iframeHeading"></h4>
            </div>
            <iframe id="myIframe" style="width: 100%; height: 100%; border: none;"></iframe>
        </div>
    </div>
</div>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#mydiv").css("height", ($(document).height() - 50) + "px");

        const links = $('.link');
        const myIframe = $('#myIframe');
        const iframeHeading = $('#iframeHeading');

        links.on('click', function(event) {
            event.preventDefault();
            $("#instruction").hide();
            const selectedLink = $(this);
            const selectedValue = selectedLink.data('id');
            const selectedHref = selectedLink.attr('href');

            // Check if the link is a YouTube link
            const youtubePattern = /^https?:\/\/(?:www\.)?youtube(?:-nocookie)?\.com\/watch\?v=([a-zA-Z0-9_-]{11})/;
            const match = selectedHref.match(youtubePattern);
            const isYoutube = match !== null;

            // Update the iframe source and heading
            if (isYoutube) {
                const videoId = match[1];
                myIframe.attr('src', `https://www.youtube.com/embed/${videoId}`);
                myIframe.prop('allowfullscreen', true);
            } else {
                myIframe.attr('src', selectedHref + '?id=' + selectedValue);
                myIframe.prop('allowfullscreen', false);
            }

            // Make AJAX request to update model with selected ID
            $.ajax({
                
                url: "{% url 'ajax_save_topic' %}",
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: selectedValue,
                    course_id: '{{ course_id }}',
                    chapter_id: '{{ chapter_id }}'
                }),
                success: function(response) {
                    console.log('Updated model successfully');
                },
                error: function(error) {
                    console.log('Error updating model: ', error);
                }
            });
        });

        // Toggle visibility function
        window.toggleVisibility = function() {
            const elem = document.getElementById("hide-show");
            elem.style.display = (elem.style.display === "none") ? "block" : "none";
        }
    });
</script>



{% endblock content %}