{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>NubeEra (LXP)</title>

  <link rel="shortcut icon" type="image/x-icon" href="/static/dreamlms/img/favicon.svg">

  <link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

  <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/static/dreamlms/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/dreamlms/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/dreamlms/plugins/feather/feather.css">

  <link rel="stylesheet" href="/static/getskills/css/style.css">
</head>

<body>
  <script type="text/javascript">
    $().ready(function () {
      $('#add').click(function () {
        return !$('#select1 option:selected').remove().appendTo('#select2');
      });
  
      $('#add1').click(function () {
        return !$('#select3 option:selected').remove().appendTo('#select4');
      });
  
      $('#remove').click(function () {
        return !$('#select2 option:selected').remove().appendTo('#select1');
      });
  
      $('#remove1').click(function () {
        return !$('#select4 option:selected').remove().appendTo('#select3');
      });
    });
  
    function showError(message) {
      // Create an error message element or use an existing one
      let errorDiv = document.getElementById('error-message');
      if (!errorDiv) {
        errorDiv = document.createElement('div');
        errorDiv.id = 'error-message';
        errorDiv.style.color = 'red';
        document.body.appendChild(errorDiv);
      }
      errorDiv.textContent = message;
      errorDiv.style.display = 'block';
  
      // Hide the error message after 5 seconds
      setTimeout(() => {
        errorDiv.style.display = 'none';
      }, 5000);
    }
  
    function validateForm() {
      return true;
      let x = document.forms[0]["user_full_name"].value;
      if (x == "") {
        showError("Please Enter Name");
        return false;
      }
      x = document.forms[0]["mobile"].value;
      if (x.length != 10) {
        showError("Please Enter 10 Digit Mobile No");
        return false;
      }
      x = document.forms[0]["whatsappno"].value;
      if (x.length != 10 && x.length != 1 ) {
        showError("Please Enter 10 Digit WhatsApp No.");
        return false;
      }
      x = document.forms[0]["whatsappno"].value;
        if (x.length != 10) {
          showError("Please Enter 10 Digit WhatsApp No");
          return false;
        }
    }
  </script>

  <div class="main-wrapper log-wrap">
    
    <div class="row">

      <div class="col-md-12">

        <div class="login-wrapper">
          <div class="loginbox">
            <h1>ADD DETAILS</h1>
            <div class="img-logo">
              <img src="/static/dreamlms/img/logo.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="{% url 'logout'%}">Logout for now</a>
              </div>
            </div>
            <form onsubmit="return validateForm()" method="POST" autocomplete="off" enctype="multipart/form-data">
              {%csrf_token%}
              <div class="form-group">
                <label class="form-control-label">Full Name</label>
                {% render_field learnerdetailsForm.user_full_name class="form-control" value=username%}
              </div>
              <div class="form-group">
                <label class="form-control-label">Mobile No.</label>
                {% render_field learnerdetailsForm.mobile class="form-control"%}
              </div>
              
              <div class="form-group">
                <label class="form-control-label">If above No. is not a WhatsApp No., please provide WhatsApp No.</label>
                {% render_field learnerdetailsForm.whatsappno class="form-control" value=" "%}
              </div>
              <div class="form-group">
                <label class="form-control-label">Profile Picture</label>
                {% render_field learnerdetailsForm.profile_pic class="form-control" %}
                {% if learnerdetailsForm.profile_pic.errors %}
                    <div class="text-danger">{{ learnerdetailsForm.profile_pic.errors }}</div>
                {% endif %}
            </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-start" type="submit">Save Details</button>
              </div>
              <div id="error-message" style="color: red; display: none;"></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>


  <script src="/static/dreamlms/js/jquery-3.6.0.min.js"></script>

  <script src="/static/dreamlms/js/bootstrap.bundle.min.js"></script>

  <script src="/static/dreamlms/js/owl.carousel.min.js"></script>

  <script src="/static/dreamlms/js/passwordvalidation.js"></script>

  <script src="/static/dreamlms/js/script.js"></script>